.rex-slices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rex-slice, .dragdrop {
    width: 100%;
    padding: 5px;
    margin: 0;
}

.dragdrop > ul {
  list-style: none;
  padding: 0;
}

